---
layout: default
title: Enjoy Agile - scrum, kanban, bonheur au travail, environnements avec membres d'équipes engagés
pagination:
  enabled: true
---

  {% for post in paginator.posts %}
    <h1><a href="{{post.url}}">{{ post.title }}</a></h1>
    {{ post.content }}
    <div class="fill"></div>
  {% endfor %}

</section>
<section class="pagination">

  {% if paginator.page_trail %}
    {% for trail in paginator.page_trail %}
      <li {% if page.url == trail.path %}class="selected"{% endif %}>
          <a href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
      </li>
    {% endfor %}
  {% endif %}