<!doctype html>
<html lang="fr">
  <!-- ******************** HEADER SECTION ******************** -->
  <head>

  	<!-- META SECTION -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="author" content="Enjoy Agile" />
    <meta name="description" content="Blog Enjoy Agile Alexandre Thibault" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    {% feed_meta %}

  	<!-- TITLE SECTION -->
    <title>{{ page.title }}</title>

  	<!-- CSS & JS SECTION -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <!-- ******************** BODY SECTION ******************** -->
  <body>

      <!-- HEADER -->
    <div class="header-wrapper">
      <header>

    		<a href="/index.html" id="logo"></a>

    		<!-- MENU NAVIGATION -->
    		<nav>
    			<a href="#" id="menu-icon"></a>
    			<ul>
    				<li><a href="/a-propos/">A propos</a></li>
            <li><a href="/conferencier/">Conférencier</a></li>            
            <li><a href="/inspirations/">Inspirations</a></li>
    				<li><a href="/now/">Now</a></li>
    			</ul>
    		</nav>

      </header>
    </div>

    <section>

    <!-- Body content-->
