<!doctype html>
<html lang="fr">
  <!-- ******************** HEADER SECTION ******************** -->
  <head>

  	<!-- META SECTION -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="author" content="Enjoy Agile" />
    <meta name="description" content="Blog Enjoy Agile Alexandre Thibault" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    {% feed_meta %}

  	<!-- TITLE SECTION -->
    <title>{{ page.title }}</title>

  	<!-- CSS & JS SECTION -->
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="icon" href="/favicon.ico" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- FAV ICON-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

  </head>

  <!-- ******************** BODY SECTION ******************** -->
  <body>

      <!-- HEADER -->
    <div class="header-wrapper">
      <header>

    		<a href="/index.html" id="logo"></a>

    		<!-- MENU NAVIGATION -->
    		<nav>
    			<a href="#" id="menu-icon"></a>
    			<ul>
    				<li><a href="/a-propos/">A propos</a></li>
            <li><a href="/conferencier/">Conférencier</a></li>            
            <li><a href="/inspirations/">Inspirations</a></li>
    				<li><a href="/now/">Now</a></li>
    			</ul>
    		</nav>

      </header>
    </div>

    <section>

    <!-- Body content-->
