---
layout: default
---
{{content}}

<div class="fill"></div>

<a href="https://twitter.com/share?ref_src={{site.url}}{{page.url}}" 
   class="twitter-share-button" 
   data-show-count="false">
	Tweet
</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<div class="navigation">
	{% if page.previous.url %}
	<div class="prev">
	<a href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
	</div>
	{% endif %}
	{% if page.next.url %}
	<div class="next">
	<a href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
	</div>
	{% endif %}
</div>