idées à mettre dans un talk

user story mapping
systémique
management 3.0
valorisation des développeurs vs management
pourquoi les développeurs ne s'intéressent pas assez au pourquoi et au qui du besoin (on reste au quoi et comment)
je veux faire du scrum, mais les développeurs ne veulent pas bosser ensemble
trop de technos différentes dans mon équipe
le multi-bus effect
délocalisation
kanban
prédictibilité
board de post-its extra
création d'un rêve en équipe dans ce cadre

pour ida
https://medium.muz.li/design-principles-behind-great-products-6ef13cd74ccf#.3qitqeb7w

pour quentin

tu le connais lui ? il me demande sur LinkedIn : 
https://www.linkedin.com/comm/profile/view?id=AAsAAATxoVIBdHwTBg5MoTxXewRKTrB9rRwCVFE&authType=name&authToken=9ltw&midToken=AQEOhFfxC_76Vw&trk=eml-email_m2m_invite_single_01-hero-2-prof~photo&trkEmail=eml-email_m2m_invite_single_01-hero-2-prof~photo-null-1prmr~iz2znoki~cd&lipi=urn%3Ali%3Apage%3Aemail_email_m2m_invite_single_01%3BLQL8CzS5RCCSryLstCjO2w%3D%3D